:root {
  --texts-second: #333;
  --texts-error: #ff5757;
  --texts-hover: #756157;
  --texts-active: rgba(117, 97, 87, 0.3);
  --texts-texts-basic: #000;
  --texts-background-deafault: #fff;
  --texts-background-small: rgba(255, 255, 255, 0.3);
  --texts-background-hover: rgba(255, 255, 255, 0.6);
  --texts-background-active: rgba(255, 255, 255, 0.3);
  --buttons-basic: #756157;
  --buttons-second: #82b3d3;
  --buttons-select: #7db54f;
  --buttons-disabled: #e5e5e5;
  --buttons-brown-hover: #615048;
  --buttons-blue-hover: #68a2ca;
  --buttons-green-hover: #6c9e42;
  --background-basic-1: #fff;
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --background-basic-3: #82b3d3;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);
  --icons-basic: #000;
  --icons-second: #83b3d3;
  --icons-text: #7db54f;
  --icons-hover: #756157;
  --icons-active: rgba(117, 97, 87, 0.3);
  --icons-second-hover: #68a2ca;
  --icons-second-active: rgba(104, 162, 202, 0.3);
  --forms-inputs: #3f5e72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
  --font-family: "PT Sans", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--forms-elements-2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  color: var(--texts-second);
  background-color: var(--texts-background-deafault);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-basic);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
  margin-bottom: -10px;
  z-index: 1000;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--texts-texts-basic);
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 24px;
}

.fav-count {
  padding: 4px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--texts-background-deafault);
  background: var(--buttons-select);
  border-radius: 50%;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
  color: var(--texts-texts-basic);
  background-color: var(--background-basic-2);
  background-image:
    url("../images/divider.svg"),
    url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position:
    center bottom,
    center top;
}

.advantages {

  text-align: center;
}

.advantages-header {
  padding: 70px 274px 90px;
}

.advantages-title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  background-color: var(--background-second-1);
}

.advantages-item-text {
  padding: 112px 85px;
}

.advantages-item-title {
  margin: 0 0 62px;
  font-size: 24px;
  line-height: 28px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 0;
}

.advantages-item-middle {
  background-color: var(--background-second-2);
}

.advantages-item-big {
  display: flex;
  width: 1200px;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-second);
}

.advantages-item-big .advantages-item-text {
  width: 400px;
  padding: 102px 85px;
}

.advantages-item-big .advantages-item-title {
  color: var(--texts-background-deafault);
}

.advantages-item-big:last-child .advantages-item-image {
  order: -1;
}

.features {
  text-align: center;
}

.features-header {
  padding: 64px 347px;
}

.features-title {
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.features-description {
  font-size: 22px;
  line-height: 26px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-item {
  width: 230px;
  padding: 81px 85px;
}

.features-item:nth-child(2n-1)  {
  background-color: var(--background-second-1);
}

.features-item-title {
  margin: 102px 0 30px;
  font-size: 24px;
  line-height: 28px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.features-item-description {
  margin: 0;
}

.booking {
  padding: 96px 304px;
  text-align: center;
}

.booking-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.booking-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.booking-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 258px;
  text-align: center;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-2);
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
}

.field {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: var(--texts-texts-basic);
  opacity: 0.6;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background: var(--buttons-second);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin: 0 auto 0 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
  text-decoration: none;
}

.htmlacademy-link {
  width: 115px;
  margin-left: auto;
}

.inner-header {
  padding: 35px 70px 70px;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-2);
  background-image: url("../images/header-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
  color: var(--texts-background-deafault);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  padding: 0;
  width: 151px;
  border: none;
}

.catalog-filter-group-infrastructure {
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-group-hotel-type {
  width: 151px;
  margin-right: 141px;
}

.catalog-filter-group-price {
  width: 288px;
}

.catalog-filter-title {
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin: 0 0 16px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 191px;
}

.catalog-filter-buttons {
  padding-top: 56px;
}

.button-submit {
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 20px;
  background: var(--buttons-second);
}

.button-clear {
  font-size: 16px;
  line-height: 20px;
  background: transparent;
}

.catalog-products {
  padding: 50px 70px 0;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin: 0 0 40px;
}

.catalog-results {
  max-width: 350px;
  margin: 0 auto 0 0;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--texts-texts-basic);
}

.select-control {
  padding: 14px 20px;
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--texts-second);
}

.results-view-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 160px;
  margin: 0 0 0 70px;
  padding: 0;
  list-style-type: none;
}

.results-view-item {
  width: 48px;
  height: 48px;
}

.product-list {
  margin: 0;
  padding: 0 0 40px 0;
  list-style-type: none;
  border-bottom: 1px solid var(--buttons-disabled);
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--texts-texts-basic);
  font-weight: 700;
}

.product-card-price {
  font-weight: 400;
}

.button-favorites {
  background: var(--buttons-second);
}

.button-favorites-added {
  background: var(--buttons-select);
}

.product-card-rating {
  font-size: 16px;
  line-height: 23px;
  color: var(--texts-second);
  background: var(--forms-elements-2);
  text-transform: uppercase;
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 40px 0 60px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 11px 23px;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--texts-background-deafault);
  background: var(--buttons-second);
  border-radius: 4px;
}

.pagination-link-current {
  color: var(--texts-texts-basic);
  background: var(--forms-elements-2);
}

.main-inner .subscribe {
  color: var(--texts-texts-basic);
  background-color: var(--texts-background-deafault);
  background-image: none;
}

.main-inner .field {
  background: var(--forms-elements-2);
}

