:root {
  --texts-second: #333;
  --texts-error: #ff5757;
  --texts-hover: #756157;
  --texts-active: rgba(117, 97, 87, 0.3);
  --texts-texts-basic: #000;
  --texts-background-deafault: #fff;
  --texts-background-small: rgba(255, 255, 255, 0.3);
  --texts-background-hover: rgba(255, 255, 255, 0.6);
  --texts-background-active: rgba(255, 255, 255, 0.3);
  --buttons-basic: #756157;
  --buttons-second: #82b3d3;
  --buttons-select: #7db54f;
  --buttons-disabled: #e5e5e5;
  --buttons-brown-hover: #615048;
  --buttons-blue-hover: #68a2ca;
  --buttons-green-hover: #6c9e42;
  --background-basic-1: #fff;
  --background-basic-2: rgba(0, 0, 0, 0.3);
  --background-basic-3: #82b3d3;
  --background-second-1: rgba(131, 179, 211, 0.12);
  --background-second-2: rgba(131, 179, 211, 0.2);
  --icons-basic: #000;
  --icons-second: #83b3d3;
  --icons-text: #7db54f;
  --icons-hover: #756157;
  --icons-active: rgba(117, 97, 87, 0.3);
  --icons-second-hover: #68a2ca;
  --icons-second-active: rgba(104, 162, 202, 0.3);
  --forms-inputs: #3f5e72;
  --forms-elements-1: #e5e5e5;
  --forms-elements-2: #f2f2f2;
  --font-family: "PT Sans", sans-serif;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: var(--forms-elements-2);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  color: var(--texts-second);
  background-color: var(--texts-background-deafault);
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-basic);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.navigation {
  display: flex;
  padding: 0 70px;
}

.navigation-logo {
  width: 138px;
  margin-right: 30px;
  margin-bottom: -8px;
}

.navigation-list {
  width: 400px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--texts-texts-basic);
  text-decoration: none;
  text-transform: uppercase;
}

.fav-count {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: var(--texts-background-deafault);
  background: var(--buttons-select)
}

.main-container {
  flex-grow: 1;
}

.hero {
  text-align: center;
  color: var(--texts-texts-basic);
  background-color: var(--background-basic-2);
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  background-color: var(--background-second-1);
}

.advantages-item-title {
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.advantages-item-middle {
  background-color: var(--background-second-2);
}

.advantages-item-big {
  display: flex;
  width: 1200px;
  color: var(--texts-background-deafault);
  background-color: var(--buttons-second);
}

.advantages-item-big .advantages-item-text {
  width: 400px;
}

.advantages-item-big .advantages-item-title {
  color: var(--texts-background-deafault);
}

.features {
  text-align: center;
}

.features-title {
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.features-description {
  font-size: 22px;
  line-height: 26px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
}

.features-item:nth-child(2n-1)  {
  background-color: var(--background-second-1);
}

.features-item-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.booking {
  text-align: center;
}

.booking-title {
  font-size: 30px;
  line-height: 36px;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
}

.booking-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  text-align: center;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-2);
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: var(--texts-texts-basic);
  opacity: 0.6;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 180%;
  text-transform: uppercase;
  text-align: center;
  background: var(--buttons-second)
}

.page-footer {
  display: flex;
  padding: 0 70px;
}

.footer-social-list {
  max-width: 150px;
  margin: 0 auto 0 0;
  padding: 0;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--texts-texts-basic);
  text-transform: uppercase;
  text-decoration: none;
}

.htmlacademy-link {
  width: 115px;
  margin-left: auto;
}

.inner-header {
  padding: 0 70px;
  color: var(--texts-background-deafault);
  background-color: var(--background-basic-2);
  background-image: url("../images/header-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  color: var(--texts-background-deafault);
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  padding: 0;
  width: 151px;
}

.catalog-filter-group-infrastructure {
  width: 151px;
  margin-right: 70px;
}

.catalog-filter-group-hotel-type {
  width: 151px;
  margin-right: 141px;
}

.catalog-filter-group-price {
  width: 288px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 21px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 191px;
}

.button-submit {
  font-size: 16px;
  line-height: 20px;
  background: var(--buttons-second);
}

.button-clear {
  font-size: 16px;
  line-height: 20px;
  background: transparent;
}

.catalog-products {
  padding: 0 70px;
}

.sorting-container {
  display: flex;
}

.catalog-results {
  max-width: 350px;
  margin-right: auto;
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--texts-texts-basic);
}

.select-control {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: var(--texts-second);
}

.buttons-results-view {
  margin-left: 70px;
  width: 160px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
  color: var(--texts-texts-basic);
  font-weight: 700;
}

.product-card-price {
  font-weight: 400;
}

.button-favorites {
  background: var(--buttons-second);
}

.button-favorites-added {
  background: var(--buttons-select);
}

.product-card-rating {
  font-size: 16px;
  line-height: 23px;
  color: var(--texts-second);
  background: var(--forms-elements-2);
  text-transform: uppercase;
  text-align: center;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--texts-background-deafault);
  background: var(--buttons-second);
}

.pagination-link-current {
  color: var(--texts-texts-basic);
  background: var(--forms-elements-2);
}

.main-inner .subscribe {
  color: var(--texts-texts-basic);
  background-color: var(--texts-background-deafault);
  background-image: none;
}

.main-inner .field {
  background: var(--forms-elements-2);
}

